body{
    background-color: #daedf9;
}

/*Nav Bar*/
.navbar{
    background-color: #BBDEFB;
}

.navbar .navbar-brand{
    font-family: 'Sour Gummy', sans-serif;
    font-size: 50px;
}

.navbar-nav{
    font-family: 'Sour Gummy', sans-serif;
    font-size: 19;
}

.nav-item {
    margin-right: 20px; 
}

.navbar-toggler-icon {
    width: 50px; 
    height: 50px;
}

.navbar-toggler-icon span {
    background-color: black;
}

/*Meme Container*/

.meme-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    margin-top: 10px;
}